<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toilet Paper</title>
    <style>
   h1 {
   text-align: center;
}

.menu {
  margin: 0 auto;
    width:250px;
  }
 #link{
  width:250px;
  }
  #submit{
  text-align: center;
  }
  #rss{
  width:250px;
  }
    </style>
</head>
<body>
<h1>Toilet Paper</h1>
<div class="menu">
    <form action="/result" method="post">
      <select id = "rss" name = "rss" placeholder="rss" required>
            <option value="/rss/thoi-su.rss">Thời sự</option>
            <option value="/rss/kinh-doanh.rss">Kinh doanh</option>
            <option value="/rss/giai-tri.rss">Giải trí</option>
            <option value="/rss/the-thao.rss">Thể thao</option>
            <option value="/rss/phap-luat.rss">Pháp luật</option>
            <option value="/rss/giao-duc.rss">Giáo dục</option>
            <option value="/rss/phap-luat.rss">Pháp luật</option>
            <option value="/rss/the-thao.rss">Thể thao</option>
            <option value="/rss/gia-dinh.rss">Đời sống</option>
            <option value="/rss/du-lich.rss">Du lịch</option>
            <option value="/rss/khoa-hoc.rss">Khoa học</option>
            <option value="/rss/so-hoa.rss">Số hóa</option>
            <option value="/rss/tam-su.rss">Tâm sự</option>
            <option value="/rss/cuoi.rss">Cười</option>
      </select>
        <p id= "submit"><input type="submit"></p>
    </form>
</div>
</body>
</html>